<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539968900989-isiq05or8d9cqvipsa6dlte9kh06m9ng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539968900989-isiq05or8d9cqvipsa6dlte9kh06m9ng</string>
	<key>API_KEY</key>
	<string>AIzaSyCzjBaT1ilYC7Zh0Ut9pRB7qRIhB4JYBrE</string>
	<key>GCM_SENDER_ID</key>
	<string>539968900989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptitudelabs.athany</string>
	<key>PROJECT_ID</key>
	<string>athany-2ffb3</string>
	<key>STORAGE_BUCKET</key>
	<string>athany-2ffb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539968900989:ios:1d7fd3b4d7a839c2560614</string>
</dict>
</plist>